<%- include('../partials/header'); %>

<main class="main main-home">
    <h2 class="home-header">
        Single Player Page
    </h2>
    <p><%= item.Throws %></p>
    <p><%= item.Rank %></p>
    <p><%= item.Player %></p>
    <p><%= item.Hits %></p>
    <p><%= item.id %></p>
    <p><%= item.YearsAge %></p>
</main>

<%- include('../partials/footer'); %>